{% if show %}
    <aside class="US_Citizen">

        <div class="US_Citizen__info">
            <h3><a href="#US_Citizen__content">{% trans %}global.citizen_info.title{% endtrans %}</a></h3>
            <button class="btn btn--border">{% trans %}global.see_more{% endtrans %}</button>
        </div>

        <div id="US_Citizen__content" class="US_Citizen__content">
            <h3>{% trans %}global.citizen_info.greeting{% endtrans %}</h3>

            <p>{% trans %}global.citizen_info.text_1{% endtrans %}</p>

            <p>{% trans %}global.citizen_info.text_2{% endtrans %}</p>

            <p>{% trans %}global.citizen_info.text_3{% endtrans %}</p>

            <p>{% trans %}global.citizen_info.text_4{% endtrans %}</p>
        </div>

    </aside>
{% endif %}