{% if show %}
    <aside class="US_Citizen">

        <div class="US_Citizen__info">
            <h3><a href="#">Info for US citizens</a></h3>
            <button class="btn btn--border">See more</button>
        </div>

        <div class="US_Citizen__content">
            <h3>Dear Prospective US Citizen Customer</h3>

            <p>To the best of our knowledge, all of our experiences
                allow you to travel to Cuba without conflicting with
                the U.S. Department of State. They fall under the
                Support for the Cuban People Category of Travel.</p>

            <p>None of our products include economic interactions
                with the List of Restricted Entities and Associated with
                Cuba as of July 26, 2019 from the Bureau of Economic and Business Affairs.</p>

            <p>Likewise we are constantly checking the State Department updates and adjusting our tours accordingly.</p>

            <p>Please feel free to book our services without any problems. We will gladly provide you photos and text documentation about the itinerary during the trip for your records.</p>
        </div>

    </aside>
{% endif %}