<section class="section hero">
    <div class="hero__image">
        {{ imgTagContent(
            blog_entry.getWebPath,
            blog_entry.getLocale('title'),
            "100vw",
            1920)
        | raw
        }}
    </div>
    <div class="hero__content">
        <div class="hero__content__container">
            <h1>{{ blog_entry.getLocale('title') }}</h1>
        </div>
    </div>
</section>