.btn{
    border-radius: 3px;
    border: 1px $mainRed solid;
    padding: .9em 1em;
    background-color: rgba($mainRed, .9);
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: all .3s ease-in-out;


    &:hover{
        background: $mainRed;
        text-decoration: underline;
    }

    &--border{
        border: 1px rgba(white, .9) solid;
    }
}