.footer{
    position: relative;
    background: white;
    margin-top: 1.5em;
    justify-content: space-around;
    align-items: flex-start;

    & .contact{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        z-index: 1;

        @include atLarge{
            width: 32%
        }

        &__info{
            width: 100%;
            margin-bottom: 0;

            @include atLarge{
                width: 60%;
            }
        }

        &__social{
            list-style: none;
            display: flex;
            justify-content: flex-start;

            @include atLarge{
                width: 60%;
            }

            & li{
                display: inline;
                margin: auto .5em;

                &:first-child{
                    margin-left: 0;
                }

                & img{
                    width: 1.75em;
                    height: auto;
                }
            }
        }
    }

    & .form-contact{
        position: relative;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        z-index: 1;

        @include atLarge{
            width: 32%;
        }

        & form{
            width: 80%;
        }

        &__sending{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 100%;
            border-radius: 2px;
            background: linear-gradient(-45deg, rgba(black, .95), rgba($mainRed, .95) 75%);
            z-index: 2;
            transform: translateY(100%);
            transition: transform .3s ease-in-out;

            & h3{
                color: white;
                position: absolute;
                opacity: 0;
            }

            &--visible{
                transform: translateY(0);

                &--sending{
                    & h3.sending{
                        opacity: 1;
                    }

                    & h3.error, & h3.received{
                        opacity: 0;
                    }
                }

                &--error{
                    & h3.error{
                        opacity: 1;
                    }

                    & h3.sending, & h3.received{
                        opacity: 0;
                    }
                }

                &--received{
                    & h3.received{
                        opacity: 1;
                    }

                    & h3.error, & h3.sending{
                        opacity: 0;
                    }
                }
            }

        }
    }

    & .legal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        z-index: 1;

        @include atLarge{
            width: 32%;
        }

        & li.logo {
            display: flex;
            flex-wrap: wrap;
            margin: 0 0 1em 2em;
            & img {
                height: 3em;
                width: auto;
            }

            & p{
                margin: 0;
                width: 100%;
            }
        }
    }

    & .copyright{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        position: absolute;
        bottom: 2em;
        width: 90%;
        z-index: 1;

        @include atLarge{
            bottom: -70%;
        }

        & p{
            width: 100%;
            color: white;

            & a{
                color: white;
                font-weight: 600;
            }

            &:first-child{
                text-align: left;
            }

            &:last-child{
                text-align: right;
            }
        }
    }

    & .image{
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        z-index: 0;

        @include atLarge{
            position: absolute;
            top: 70%;
        }

        &:before{
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 10em;
            background: linear-gradient(180deg, white, transparent);
            z-index: 1;
        }
    }

    & ul{
        list-style: none;
        padding: 0;

        & li{
            margin: 0 0 1em 2em;
        }
    }
}