.gallery{
    position: relative;

    &__item{
        position: absolute;
        top: 0;
        transition: transform .3s ease-in-out;
        max-height: 100vh;
        min-height: 40vh;
        min-width: 100%;
        &:first-child{
            position: relative;
        }

        @include atLarge{
            min-height: 100%;

        }
    }

    &__arrow{
        position: absolute;
        width: 2.5em;
        height: 2.5em;
        top: 50%;
        z-index: 1;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url("/images/icons/arrow.svg");

        &--prev{
            left: .5em;
            right: auto;
            transform: translateY(-50%) rotate(180deg);
        }

        &--next{
            right: .5em;
            left: auto;
            transform: translateY(-50%) rotate(0deg);
        }
    }

}