.header {
    z-index: 3;
    //background: rgba($mainRed, .95);
	background: linear-gradient(176deg, rgba(0, 0, 0, 0.95), rgba(197, 52, 66, 0.95) 54%);
    position: absolute;
    width: 100%;
    display: grid;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: .5em;


	grid-template-areas: "logo lang menu"
						  "nav nav nav";
	grid-template-columns: 25% 60% 15%;

    @include atLarge{
	    grid-template-areas: "logo nav lang";
	    grid-template-columns: 25% 50% 25%;

        padding: 0 4em;
        position: fixed;
        //background: linear-gradient(45deg, rgba(black, .95), rgba($mainRed, .95) 45%);
    }

    & .logo {
	    grid-area: logo;

	    display: flex;
	    align-items: center;
        width: auto;
        margin: 0;
        position: relative;
	    height: auto;

	    @include atMedium{
			height: 4em;
	    }

        @include atLarge{
            position: relative;
            left: auto;
	        height: 3em;
        }

	    & img{
		    width: 100%;
		    height: 100%;
		    object-fit: contain;
	    }

	    & a{
		    display: flex;
		    width: 100%;
		    height: 100%;
	    }

	    &__travel_choice_award {
		    position: absolute;
		    top: 3.25em;
		    height: 7em;

		    & > img{
			    width: auto;
		    }

		    @include atMedium{
			    position: relative;
			    top: 0;
			    height: auto;
		    }
	    }
    }

    & .nav {
	    grid-area: nav;
	    display: block;
	    position: absolute;

        width: calc(1em + 100%);
	    left: -.5em;

        top: .49999em;
        background: rgba($mainRed, .95);
	    z-index: 1;

        @include atLarge{
            position: relative;
            top: 0;
	        left: 0;
	        width: 100%;
            display: block;
            background: transparent;
        }

        & ul {
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            list-style: none;

	        @include atLarge{
		        justify-content: center;
	        }

            & li {
                padding: .5em;
                margin: auto .5em;

                border: 1px transparent solid;
                transition: border .3s ease-in-out;

                &:hover {
                    border: 1px white solid;
                }

                & a {
                    padding: .5em;
                    margin: auto .5em;
                    color: white;
                    text-decoration: none;
                }
            }
        }

    }

	& .menu {
		display: flex;
		justify-content: center;
		grid-area: menu;

		& .menu-icon {
			order: 2;
			width: 20px;
			height: 19px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: auto 1em;
			z-index: 3;

			@include atLarge {
				display: none;
				right: auto;
			}

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 3px;
				background-color: white;
				transform-origin: 0 0;
				transition: transform .3s ease-out;
			}

			&__middle {
				position: absolute;
				top: 8px;
				left: 0;
				width: 20px;
				height: 3px;
				background-color: white;
				transition: all .3s ease-out;
				transform-origin: 0 50%;

			}

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 20px;
				height: 3px;
				background-color: white;
				transform-origin: 0 100%;
				transition: transform .3s ease-out;
			}

			&--close-x {
				&::before {
					transform: rotate(45deg) scaleX(1.25);
				}

				.menu-icon__middle {
					opacity: 0;
					transform: scaleX(0);
				}

				&::after {
					transform: rotate(-45deg) scale(1.25) translateY(1px);
				}
			}
		}
	}

    & .lang{
	    grid-area: lang;

        order: 1;
        display: flex;
        width: auto;
        justify-content: center;
        z-index: 2;

        @include atLarge {
            width: auto;
            opacity: 1;
            z-index: 1;
        }

        & ul {
            padding-left: 0;
            margin: 0;
        }

        & li {
            color: #fff;
            display: block;
            float: left;

            padding: .75em;
            margin: auto .2em;
            position: relative;
            text-decoration: none;
            transition-duration: 0.5s;
            transition: all;
            border-bottom: 2px transparent solid;

            @include atLarge{
                margin: auto .75em;
            }

            &:hover{
                border-bottom: 2px white solid;
                text-transform: uppercase;
            }

            &.selected{
                border-bottom: 2px white solid;
                text-transform: uppercase;
            }

            & a{
                color: white;
                font-size: 1em;
                font-weight: 500;
                padding: .25em;

                &:hover{
                    text-decoration: none;
                }
            }
        }

    }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-6 16:43:40
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-bck
 * ----------------------------------------
 */
@keyframes swing-in-top-bck {
    0% {
        transform: rotateX(70deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes swing-out-top-bck {
    0% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
    100% {
        transform: rotateX(-90deg);
        transform-origin: top;
        opacity: 0;
    }
}


.swing-in-top-bck {
    animation: swing-in-top-bck .4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation-delay: .3s;
}

.swing-out-top-bck {
    animation: swing-out-top-bck .25s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
    @include atLarge{
        animation: none;
    }
}