.hero{
    position: relative;

    &__image{
        position: relative;
        width: auto;
        height: 90vh;
        overflow: hidden;

        &:before{
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            background: rgba(black, .25);
            z-index: 1;
        }
    }

    &__content{
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 2em;
        z-index: 1;

        & h1{
            color: white;
        }
    }
}