<section class="content">
    <div class="content__text">
        <p>{% trans %}bikes.content.text_1{% endtrans %}</p>
        <p>{% trans %}bikes.content.text_2{% endtrans %}</p>
        <p>{% trans %}bikes.content.text_3{% endtrans %}</p>
    </div>
</section>