.build{
    position: relative;
    width: 100%;
    margin: 1.5em auto 0;

    @include atLarge{
        width: 80%;
    }

    &__form{
        width: 95%;
        margin: auto;
        padding-bottom: 2em;

        @include atLarge{
            width: 70%;
        }
    }

    &__container_price{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 100%;
        position: sticky;
        bottom: 0;

        @include atLarge{
            width: 75%;
        }
    }

    &__price{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 1em;
        border-radius: 2px;
        background: linear-gradient(45deg, rgba(black, .95), rgba($mainRed, .95) 45%);;

        & p {
            margin: 0;
            color: white;

            & span {
                color: white;
            }
        }
    }
}