.build{
    position: relative;
    width: 100%;
    margin: 1.5em auto 0;

    @include atLarge{
        width: 80%;
    }

    &__form{
        width: 100%;
        margin: auto;

        @include atLarge{
            width: 70%;
        }
    }

    &__container_price{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 100%;
        position: sticky;
        top: 5em;
    }

    &__price{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        right: 1.5em;
        top: 5em;
        padding: 1em;
        border-radius: 2px;
        background: rgba($mainRed, .9);

        @keyframes showingUp {
            0%{
                transform: scale(1);
            }
            50%{
                transform: scale(1.1);
            }
            100%{
                transform: scale(1);
            }

        }

        &--animate{
            animation: showingUp 2s ease-in-out 1;
        }

        & span{
            width: 100%;
            color: white;
        }
    }
}