<section id="bikes" class="bikes">
    <div class="bikes__title">
        <h2>{% trans %}index.bike.title{% endtrans %}</h2>
    </div>

    <div class="bikes__description">
        <p>{% trans %}index.bike.description_1{% endtrans %}...
            <a href="{{ path('bikes') }}">{% trans %}global.read_more{% endtrans %}</a>.</p>

        <p>{% trans %}index.bike.description_2{%endtrans %}</p>
    </div>

    <div class="bikes__gallery gallery">

        {% for bike in bikes %}
            <div class="bikes__gallery__bike gallery__item">
                {{ imgTagContent(
                    bike.webPath,
                    bike.name,
                    "(min-width: 1200px) 66vw, 100vw",
                    1920)
                | raw
                }}
                <div class="bikes__gallery__bike__title">
                    <h4>{{ bike.name }}</h4>
                </div>
            </div>
        {% endfor %}

    </div>

    <div class="bikes__buy">
        <p>{% trans %}index.bikes.buy{% endtrans %}
            <a href="{{ path('buy') }}">{% trans %}index.bikes.buy.link{% endtrans %}</a>.
        </p>
    </div>
</section>