<section id="hero" class="section hero">
    <div class="hero__video">
        <video class="video" autoplay loop>
            <source src="{{ asset('video/hero_video.webm') }}" type='video/webm; codecs="vp9, vorbis"' />
            <source src="{{ asset('video/hero_video.mp4') }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            <source src="{{ asset('video/hero_video.ogv')}}" type='video/ogg; codecs="theora, vorbis"' />
            {{ imgTagContent(
                asset('video/toques_del_rio_init_frame.jpg'),
                '',
                "100vw",
                1920)
            | raw
            }}
        </video>
    </div>
    <div class="hero__content">
        <h1>{% trans %}index.hero.title{% endtrans %}</h1>
        <h2>{% trans %}index.hero.subtitle{% endtrans %}</h2>
    </div>
    <div class="hero__action"
         data-sal="slide-up"
         data-sal-delay="1000">
        <a class="btn" href="#tours">{% trans %}index.hero.tour{% endtrans %}</a>
    </div>
</section>