<section id="partners" class="section partners">
    <div class="section__title">
        <h2>{% trans %}index.partners.title{% endtrans %}</h2>
    </div>

    <div class="section__description">
        <p>{% trans %}index.partners.description{% endtrans %}</p>
    </div>

    <div class="partners__logos">
        {% for partner in partners %}
            <div class="partners__logos__logo">
            <a href="{{ partner.url }}">
                {{ imgTagContent(
                    partner.getWebPath,
                    partner.name,
                    "100vw",
                    1920)
                | raw
                }}
            </a>
        </div>
        {% endfor %}
    </div>

</section>