<section id="us" class="section us">
    <div class="section__title">
        <h2>{% trans %}index.us.title{% endtrans %}</h2>
    </div>

    <div class="section__description">
        <p>{% trans %}index.us.description_1{% endtrans %}</p>
        <p>{% trans %}index.us.description_2{% endtrans %}...
            <a href="">{% trans %}global.read_more{% endtrans %}</a>.</p>

    </div>

    {{ include('frontend/index/_team.html.twig') }}

</section>