<section class="section widget lazyload"
         data-script="https://www.inspirock.com/widget/attraction.js?buttonColor=%23c53442&widget-id=inspirock-attraction-widget-581763&v=1&trip-planner-domain=www.inspirock.com&attraction-id=4512434219&buttonTextColor=%23FFFFFF&locale={{ lang }}&buttonBorderRadius=null">

    <div id="inspirock-attraction-widget-581763">
        See the best places to go in Havana with a plan including
        <a href="https://www.inspirock.com/cuba/havana/cubyke-a4512434219" target="_blank">Cubyke
        </a>
    </div>

</section>