<section class="section build">

    <div class="build__container_price">
        <div class="build__price">
            <div class="build__price__wrapper">
                <span>00</span> <span>EUR</span>
            </div>
        </div>
    </div>

    <div class="build__form">

        <form class="form" action="">

            <div class="form__item">
                <label>Modell</label>

                <div class="form__item__content form__item__content--inline">
                    <label for="modelo_companero">
                        <input type="radio" name="model" id="modelo_companero" value="S" data-price="3999" checked> Compañero
                    </label>
                    <label for="modelo_companera">
                        <input type="radio" name="model" id="modelo_companera" value="S" data-price=3999> Compañera
                    </label>
                </div>

            </div>

            <div class="form__item">
                <label>Rahmengröße</label>

                <div class="form__item__content form__item__content--inline">
                    <label for="size_s">
                        <input type="radio" name="size" id="size_s" value="S" data-price="0" checked> S
                    </label>
                    <label for="size_m">
                        <input type="radio" name="size" id="size_m" value="S" data-price="0"> M
                    </label>
                    <label for="size_l">
                        <input type="radio" name="size" id="size_l" value="S" data-price="0"> L
                    </label>
                </div>

            </div>

            <div class="form__item">
                <label>Schaltung</label>

                <div class="form__item__content form__item__content--inline">
                    <label for="velocity_single">
                        <input type="radio" name="velocity" id="velocity_single" value="Single-Speed" checked data-price="0"> Single-Speed
                    </label>

                    <label for="velocity_3_gang">
                        <input type="radio" name="velocity" id="velocity_3_gang" value="FNeo Gear 3 Gang" data-price="490"> efneo Gear 3 Gang
                    </label>

                    <label for="velocity_7_gang">
                        <input type="radio" name="velocity" id="velocity_7_gang" value="7 Gang Kassettenschaltung" data-price="149"> 7 Gang Kassetenschaltung
                    </label>
                </div>
            </div>

            <div class="form__item">
                <label>Akkukapazität</label>

                <div class="form__item__content form__item__content--inline">
                    <label for="akkukapazität_446">
                        <input type="radio" name="akkukapazität" id="akkukapazität_446" value="446 Wh" checked data-price="0"> 446 Wh
                    </label>
                    <label for="akkukapazität_612">
                        <input type="radio" name="akkukapazität" id="akkukapazität_612" value="612 Wh" data-price="250"> 612 Wh
                    </label>
                </div>
            </div>

            <div class="form__item">
                <label>Lichtset</label>

                <div class="form__item__content form__item__content--inline">
                    <label for="lichtset_standard">
                        <input type="radio" name="lichtset" id="lichtset_standard" value="Lichtset standard" checked data-price="0"> standard
                    </label>
                    <label for="lichtset_gehoben">
                        <input type="radio" name="lichtset" id="lichtset_gehoben" value="Lichtset gehoben" data-price="299"> gehoben
                    </label>
                    <label for="lichtset_exklusiv">
                        <input type="radio" name="lichtset" id="lichtset_exklusiv" value="Lichtset exklusiv" data-price="499"> exklusiv
                    </label>
                </div>
            </div>

            <div class="form__item">
                <label>Sattel</label>

                <div class="form__item__content form__item__content--inline">
                    <label for="sattel_standard">
                        <input type="radio" name="sattel" id="sattel_standard" value="Sattel standard" checked data-price="0"> standard
                    </label>
                    <label for="sattel_gehoben">
                        <input type="radio" name="sattel" id="sattel_gehoben" value="Sattel gehoben" data-price="89"> gehoben
                    </label>
                    <label for="sattel_luxus">
                        <input type="radio" name="sattel" id="sattel_luxus" value="Sattel luxus" data-price="180"> luxus
                    </label>
                </div>
            </div>

            <div class="form__item">
                <label>Schutzbleche</label>

                <div class="form__item__content form__item__content--inline">
                    <label for="schutzbleche_ohne">
                        <input type="radio" name="schutzbleche" id="schutzbleche_ohne" value="S" checked data-price="0"> ohne
                    </label>
                    <label for="schutzbleche_ja">
                        <input type="radio" name="schutzbleche" id="schutzbleche_ja" value="S" data-price="99"> ja
                    </label>
                </div>
            </div>

            <div class="form__item">
                <label>Gepäckträger</label>

                <div class="form__item__content form__item__content--inline">
                    <label for="gepacktrager_ohne">
                        <input type="radio" name="gepacktrager" id="gepacktrager_ohne" value="Gepacktrager ohne" checked data-price="0"> ohne
                    </label>
                    <label for="gepacktrager_ja">
                        <input type="radio" name="gepacktrager" id="gepacktrager_ja" value="Gepacktrager ja" data-price="99"> ja
                    </label>
                </div>
            </div>

            <div class="form__item">
                <label for="farbe">Welche Farbe soll Dein Cubyke haben?</label>
                <div class="form__item__content">
                    <input type="text" id="farbe" name="farbe" placeholder="RAL-300">
                </div>
            </div>

            <div class="form__item">
                <label for="sonderwünsche">Sonderwünsche?</label>
                <div class="form__item__content">
                    <input type="text" id="sonderwünsche" placeholder="Sag uns Deine Wünsche">
                </div>
            </div>

            <div class="form__item">
                <label>Du hast auf Cuba schon Touren mit uns gemacht und bist deshalb "prefered member" mit Anspruch auf den einmaligen 10% Rabatt?</label>

                <div class="form__item__content form__item__content--inline">
                    <label for="prefered_member_ohne">
                        <input type="radio" name="prefered_member" id="prefered_member_ohne" value="ohne" checked> ohne
                    </label>
                    <label for="prefered_member_ja">
                        <input type="radio" name="prefered_member" id="prefered_member_ja" value="ja"> ja
                    </label>
                </div>
            </div>

            <div class="form__item">
                <label for="datum">Wann hast Du welche Tour mit uns gemacht?</label>

                <div class="form__item__content">
                    <input type="date" name="datum" id="datum">
                </div>
            </div>

            <div class="form__item">
                <label>Bei Bestellung bitte ein Bild von Dir mit unseren Bikes auf Cuba einsenden oder schick uns Dein prefered member Armband;-)</label>

                <div class="form__item__content">
                    <label for="photo">
                        <input type="file" name="photo" id="photo">
                    </label>
                </div>
            </div>

            <div class="form__item">
                <label for="nachame">Vor- und Nachame?</label>
                <div class="form__item__content">
                    <input type="text" name="nachame" id="nachame" placeholder="Vorname, Nachname">
                </div>
            </div>

            <div class="form__item">
                <label for="telefonnummer">Telefonnummer?</label>
                <div class="form__item__content">
                    <input type="tel" name="telefonnummer" id="telefonnummer" placeholder="Deine Telefonnummer">
                </div>
            </div>

            <div class="form__item">
                <label for="emailadresse">Deine Emailadresse?</label>
                <div class="form__item__content">
                    <input type="email" name="emailadresse" id="emailadresse" placeholder="E-Mail-Adresse">
                </div>
            </div>

            <div class="form__item">
                <label for="comment">Möchtest Du uns noch etwas mitteilen?</label>
                <div class="form__item__content">
                    <textarea name="comment" id="comment" cols="30" rows="3"></textarea>
                </div>
            </div>

            <input class="btn" type="submit" value="Senden">
        </form>
    </div>

</section>